* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: underline;

	&:hover {
		color: $color-orange;
		text-decoration: none;
	}

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1 {
	color: #a29888;
	line-height: 1.1;
	margin-bottom: 30px;
}

h2 {
	color: #a29888;
	font-size: 23px;
	line-height: 1.1;
	margin-bottom: 20px;

	a {
		color: $color-blue;
		text-decoration: none;

		&:hover {
			color: $color-orange;
		}
	}
}

h3 {
	color: #000;
	font-size: 20px;
	line-height: 1.1;
	margin-bottom: 10px;

	a {
		color: $color-blue;
		text-decoration: none;

		&:hover {
			color: $color-orange;
		}
	}
}


h4 {
	color: #000;
	font-size: 16px;
	line-height: 1.1;
	margin-bottom: 10px;

	a {
		color: $color-blue;
		text-decoration: none;

		&:hover {
			color: $color-orange;
		}
	}
}


p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
