body {

	&.theme_01 {
		background: #fff;
	}

	&.theme_02 {
		background: url("../img/bg/bg_01.png");
	}

	&.theme_03 {
		background: url("../img/bg/bg_02.jpg");
	}

	&.theme_04 {
		background: url("../img/bg/bg_03.jpg");
	}

	&.theme_05 {
		background: url("../img/bg/bg_04.jpg");
	}

	&.theme_06 {
		background: url("../img/bg/bg_05.png");
	}

	&.theme_07 {
		background: url("../img/bg/bg_06.png");
	}

	&.theme_08 {
		background: url("../img/bg/bg_07.png");
	}

	&.theme_09 {
		background: url("../img/bg/bg_08.png");
	}
}

.row {

	.col-left {
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}

	.col-right {
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}

	.col-md-right {
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}

	.col-md-left {
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}

	@media (min-width: $screen-md-min) {

		.col-left {
			width: 25%;
			float: left;
		}

		.col-right {
			width: 75%;
			float: right;
		}

		.col-md-left {
			float: left;
			width: 33.3333333333%;
		}

		.col-md-right {
			float: right;
			width: 66.6666666667%;
		}
	}

	@media (min-width: $screen-lg-min) {

		.col-left {
			width: 25%;
		}

		.col-right {
			width: 75%;
		}
	}
}

.page {

	@media (min-width: $screen-sm-min) {
		min-height: 100vh;
		position: relative;
		padding-bottom: 460px;
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.main {
	padding-top: 20px;
	padding-bottom: 40px;
}

.find-block {
	max-width: 400px;
	background: #fff;
	position: relative;
	@include clearfix();
	margin: 0 auto 30px auto;
	padding: 15px 20px 20px 20px;
	@include box-shadow(0 1px 3px 2px rgba(0, 0, 0, 0.15));

	.search-header {
		padding: 15px;
		list-style: none;
		background: #F1F4F6;
		margin: -15px -20px 20px -20px;
		border-bottom: 1px solid #e8ecf0;
		@include clearfix();

		.search-title {
			float: left;
			font-size: 24px;
			line-height: 32px;
			margin-right: 10px;
			display: inline-block;
		}

		.btn-border {
			float: left;
			margin-bottom: 10px;
			margin-right: 10px;
		}
	}


	.people-search-inner {
		margin: 0 -3px;
	}

	.search-content {
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;
		@include clearfix();

		> li {
			padding: 0 3px;
			min-height: 1px;
			margin-bottom: 15px;
		}

		.main-label {
			padding: 5px 3px;
			font-size: 14px;
			line-height: 20px;
			display: inline-block;
		}
	}


	.main-select {
		z-index: 100;
		position: relative;

		.main-select-selected {
			width: 100%;
			color: #263352;
			cursor: pointer;
			font-size: 13px;
			z-index: 99;
			line-height: 20px;
			position: relative;
			vertical-align: middle;
			border: 1px solid #c2c2c2;
			padding: 7px 24px 7px 12px;
			@include border-radius(3px);

			&:hover {
				background: #f5f5f5;
			}

			> span {
				width: 100%;
				max-width: 100%;
				overflow: hidden;
				white-space: nowrap;
			}

			&:before {
				top: 50%;
				content: '';
				right: 12px;
				margin-top: -2px;
				position: absolute;
				border: 5px solid transparent;
				border-top: 5px solid #263352;
			}
		}

		.main-select-dropdown {
			left: -6px;
			right: -6px;
			top: 100%;
			height: 0;
			z-index: 100;
			width: auto;
			padding: 0 6px 6px 6px;
			overflow: hidden;
			position: absolute;
			visibility: hidden;
			@include transition(.3s);

			> ul {
				margin: 0;
				padding: 0;
				z-index: 5;
				background: #fff;
				list-style: none;
				position: relative;

				> li {
					z-index: 5;
					position: relative;

					&:last-child {
						@include border-radius(0 0 3px 3px);

						label {
							@include border-radius(0 0 3px 3px);
						}
					}
				}
			}

			label {
				white-space: nowrap;
				max-width: 100%;
				overflow: hidden;
				cursor: pointer;
				width: 100%;
				display: block;
				font-size: 0;
				line-height: 0;
				font-weight: 400;
				background: #fff;
				vertical-align: middle;
				@include border-radius(0 0 3px 3px);

				input {
					display: none;
				}

				span {
					width: 100%;
					font-size: 13px;
					max-width: 100%;
					overflow: hidden;
					line-height: 20px;
					padding: 4px 12px;
					display: inline-block;
				}

				&:hover {
					background: #EDF0F5;
				}
			}
		}

		.main-select-slider {
			margin: 0;
			z-index: 5;
			background: #fff;
			padding: 8px 12px;
			position: relative;
			@include border-radius(0 0 3px 3px);

			.select-slider-wrap {
				z-index: 5;
				position: relative;
			}

			.irs {
				height: 50px;
			}

			.irs-line {
				height: 5px !important;
			}

			.irs-line-left {
				height: 5px;
			}

			.irs-line-mid {
				height: 5px;
			}

			.irs-line-right {
				height: 5px;
			}

			.irs-bar {
				height: 5px;
			}

			.irs-slider {
				width: 20px;
				height: 20px;
			}

			.irs-from, .irs-to, .irs-single {
				font-size: 12px;
			}
		}

		&.open {
			z-index: 105;

			.main-select-selected {
				border-color: #fff;
				@include border-radius(3px 3px 0 0);

				&:after {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';
					position: absolute;
					@include border-radius(3px 3x 0 0);
					@include box-shadow(0 0 6px 1px rgba(0,0,0,.32))
				}
			}

			.main-select-dropdown {
				height: auto;
				visibility: visible;
				@include transition(.3s);

				> ul {
					border: 1px solid transparent;
					border-top: none;
					@include border-radius(0 0 3px 3px);

					&:after {
						z-index: 1;
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						-webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,.32);
						-moz-box-shadow: 0 0 6px 1px rgba(0,0,0,.32);
						box-shadow: 0 0 6px 1px rgba(0,0,0,.32);
						border-collapse: separate;
						@include border-radius(0 0 3px 3px);
					}
				}
			}

			.main-select-slider {
				border: 1px solid transparent;
				border-top: none;
				@include border-radius(0 0 3px 3px);

				&:after {
					z-index: 1;
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					-webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,.32);
					-moz-box-shadow: 0 0 6px 1px rgba(0,0,0,.32);
					box-shadow: 0 0 6px 1px rgba(0,0,0,.32);
					border-collapse: separate;
					@include border-radius(0 0 3px 3px);
				}
			}
		}
	}

	.select-button {
		width: 100%;
		outline: none;
		color: #263352;
		cursor: pointer;
		font-size: 13px;
		line-height: 20px;
		position: relative;
		text-align: left;
		overflow: hidden;
		white-space: nowrap;
		background: transparent;
		vertical-align: middle;
		border: 1px solid #c2c2c2;
		padding: 7px 12px 7px 12px;
		@include border-radius(3px);

		&:hover {
			background: #f5f5f5;
		}
	}

	.btn {
		width: 100%;
	}

	@media (min-width: $screen-md-min) {
		max-width: inherit;

		.search-header {

			.btn-border {
				margin-bottom: 0;
			}
		}


		.search-content {
			display: table;

			> li {
				display: table-cell;
				vertical-align: top;

				&:nth-child(1) {
					width: 110px;
				}

				&:nth-child(2) {
					width: 90px;
				}

				&:nth-child(3) {
					width: 160px;
				}

				&:last-child {
					width: 100px;
					padding-top: 30px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.search-content {
			display: table;

			> li {
				display: table-cell;
				vertical-align: top;

				&:nth-child(1) {
					width: 150px;
				}

				&:nth-child(2) {
					width: 150px;
				}

				&:nth-child(3) {
					width: 160px;
				}

				&:last-child {
					width: 100px;
					padding-top: 30px;
				}
			}
		}
	}
}


.people-gallery {
	max-width: 400px;
	background: #fff;
	overflow: hidden;
	margin: 0 auto 30px auto;
	@include box-shadow(0 1px 3px 2px rgba(0, 0, 0, 0.15));

	.people-gallery-wrap {
		width: 100%;
		overflow: hidden;
		@include clearfix();
	}

	.people-gallery-item {
		width: 50%;
		float: left;
		max-height: 200px;
		overflow: hidden;

		a {
			color: #fff;
			display: block;
			overflow: hidden;
			position: relative;
			@include transition(.3s);

			&:before {
				top: 0;
				left: 0;
				z-index: 1;
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				background: rgba(0,0,0, 0);
				@include transition(.3s);
			}

			img {
				@include transition(.3s);
			}

			.people-gallery-text {
				color: #fff;
				right: 0;
				bottom: 0;
				z-index: 5;
				padding: 10px;
				position: absolute;
				@include transition(.3s);
				@include translate(50px, 50px);

				i {
					margin-left: 5px;
				}

			}

			&:hover {

				&:before {
					background: rgba(0,0,0, 0.5);
					@include transition(.3s);
				}

				img {
					@include scale(1.2);
					@include transition(.3s);
				}

				.people-gallery-text {
					@include transition(.3s);
					@include translate(0,0);
				}
			}
		}

		&:nth-child(5n) {

			a {
				margin-right: 0;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		max-width: inherit;

		.people-gallery-item {
			width: 20%;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.people-gallery-small {
	max-width: 400px;
	background: #fff;
	overflow: hidden;
	margin: 0 auto 30px auto;
	@include box-shadow(0 1px 3px 2px rgba(0, 0, 0, 0.15));

	.people-gallery-wrap {
		width: 100%;
		overflow: hidden;
		@include clearfix();
	}

	.people-gallery-item {
		width: 33.33%;
		float: left;
		max-height: 200px;
		overflow: hidden;

		a {
			color: #fff;
			display: block;
			overflow: hidden;
			position: relative;
			@include transition(.3s);

			&:before {
				top: 0;
				left: 0;
				z-index: 1;
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				background: rgba(0,0,0, 0);
				@include transition(.3s);
			}

			img {
				@include transition(.3s);
			}

			.people-gallery-text {
				color: #fff;
				right: 0;
				bottom: 0;
				z-index: 5;
				padding: 10px;
				position: absolute;
				@include transition(.3s);
				@include translate(50px, 50px);

				i {
					margin-left: 5px;
				}

			}

			&:hover {

				&:before {
					background: rgba(0,0,0, 0.5);
					@include transition(.3s);
				}

				img {
					@include scale(1.2);
					@include transition(.3s);
				}

				.people-gallery-text {
					@include transition(.3s);
					@include translate(0,0);
				}
			}
		}

	}

	@media (min-width: $screen-sm-min) {
		max-width: inherit;
		@include flexbox();
		@include flex-wrap(nowrap);

		.people-gallery-item {
			width: 16.66%;
			@include flexbox();
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.people-block {
	margin-bottom: 30px;

	.people-block-title {
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 15px;
	}

	.people-slider {
		position: relative;

		.people-gallery-item {
			border: none;
			outline: none;
			overflow: hidden;

			a {
				color: #fff;
				display: block;
				overflow: hidden;
				position: relative;
				margin: 0 1px 0 0;
				@include transition(.3s);

				&:before {
					top: 0;
					left: 0;
					z-index: 1;
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					background: rgba(0,0,0, 0);
					@include transition(.3s);
				}

				img {
					@include transition(.3s);
				}

				.people-gallery-text {
					color: #fff;
					right: 0;
					bottom: 0;
					z-index: 5;
					padding: 10px;
					position: absolute;
					@include transition(.3s);
					@include translate(50px, 50px);

					i {
						margin-left: 5px;
					}

				}

				&:hover {

					&:before {
						background: rgba(0,0,0, 0.5);
						@include transition(.3s);
					}

					img {
						@include scale(1.2);
						@include transition(.3s);
					}

					.people-gallery-text {
						@include transition(.3s);
						@include translate(0,0);
					}
				}
			}
		}

		.slide-nav {
			top: -45px;
			color: #000;
			height: 30px;
			z-index: 10;
			cursor: pointer;
			font-size: 30px;
			line-height: 30px;
			position: absolute;
			display: inline-block;

			&.prev {
				right: 40px;
			}

			&.next {
				right: 0;
			}
		}
	}
}

.go-back {
	height: 20px;
	margin-top: 5px;
	font-size: 16px;
	line-height: 20px;
	color: $color-blue;
	position: relative;
	padding-left: 30px;
	margin-bottom: 20px;
	display: inline-block;
	text-decoration: none;

	i {
		top: 0;
		left: 0;
		height: 20px;
		font-size: 20px;
		line-height: 20px;
		position: absolute;
		display: inline-block;
		color: $color-brown;
	}


	&:hover {

		span {
			color: $color-orange;
		}
	}
}

.registration {

	.reg-title {
		color: #000;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 20px;
	}

	.reg-social {
		max-width: 300px;

		.reg-title {
			text-align: center;
		}

		.reg-social-list {
			font-size: 0;
			margin: 0 -5px;
			line-height: 0;
			text-align: center;
			position: relative;
			@include clearfix();

			> a {
				color: #fff;
				width: 40px;
				height: 40px;
				margin: 0 5px;
				padding: 7px 0;
				font-size: 24px;
				line-height: 24px;
				text-align: center;
				display: inline-block;
				text-decoration: none;
				@include border-radius(3px);
				@include gradient-vertical(#8ca7cd, #4f71a6);

				&:hover {
					color: #fff;
					text-decoration: none;
					@include gradient-vertical(#a6c2ea, #4f73a7);
				}

				&:active {
					@include gradient-vertical(#8ca7cd, #4f71a6);
				}

				i {
					font-style: normal;
				}
			}
		}
	}

	.reg-form {
		max-width: 450px;

		.form-row {
			margin-bottom: 15px;

			.form-label {
				padding-bottom: 7px;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
			}

			.form-group {
				margin-bottom: 0;
				@include clearfix();
			}
		}

		.btn {
			width: 100%;
			//margin-top: 10px;
		}

		.reg-city {
			padding-top: 7px;

			a {
				margin-left: 10px;
			}
		}

		.selectric-wrapper {
			height: 36px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.reg-social {

			.reg-title {
				text-align: right;
			}

			.reg-social-list {
				text-align: right;
			}
		}

		.reg-form {

			.form-row {
				width: 100%;
				display: table;

				.form-label {
					width: 130px;
					padding-top: 7px;
					padding-bottom: 0;
					text-align: right;
					padding-right: 15px;
					display: table-cell;
					vertical-align: top;
				}

				.form-group {
					display: table-cell;
					vertical-align: top;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		margin-left: -160px;

		h2 {
			margin-left: 130px;
		}

		.reg-form {

			.reg-title {
				margin-left: 130px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.btn-dropdown {
	position: relative;

	.dropdown-nav {
		right: 0;
		top: 100%;
		z-index: 995;
		background: #fff;
		display: block;
		margin-top: 10px;
		position: absolute;
		visibility: hidden;
		@include opacity(0);
		@include box-shadow(0 2px 8px 0 rgba(0,0,0,.4));

		&:before {
			top: -10px;
			right: 40px;
			width: 14px;
			height: 10px;
			content: '';
			z-index: -1;
			position: absolute;
			background: url("../img/icon_arrow_up.png") 0 0 no-repeat;
		}

		> li {

			> a {
				width: 100%;
				color: #333f5f;
				font-size: 13px;
				line-height: 20px;
				padding: 5px 30px 5px 15px;
				white-space: nowrap;
				display: inline-block;
				text-decoration: none;

				i {
					font-size: 16px;
					margin-right: 4px;
				}

				&:hover {
					background: #ebf1f4;
				}
			}

			&:last-child {
				padding-top: 6px;
				position: relative;

				&:before {
					top: 3px;
					left: 10px;
					right: 10px;
					height: 1px;
					content: '';
					display: block;
					position: absolute;
					background: #d0d7e7;
				}
			}
		}
	}

	&.open {
		z-index: 500;

		.dropdown-nav {
			visibility: visible;
			@include opacity(1);
		}
	}
}

.box-border {
	background: #fff;
	padding: 10px 15px 15px 15px;
	margin-bottom: 25px;
	border: 1px solid #E8ECF0;
	@include border-radius(3px);

	h2 {
		margin-bottom: 10px;
	}
}

.box-border-header {
	padding: 18px 15px;
	font-size: 24px;
	line-height: 30px;
	position: relative;
	background: #F1F4F6;
	border-bottom: 1px solid #e8ecf0;
	margin: -10px -15px 20px -15px;

	i {
		margin-right: 8px;
	}

	&.no-bg {
		background: #fff;
	}

	@media (min-width: $screen-sm-min) {

		&.icon-header {

			padding-left: 70px;

			i {
				top: 50%;
				left: 15px;
				height: 40px;
				font-size: 40px;
				line-height: 40px;
				margin-top: -20px;
				position: absolute;
				color: $color-blue;
			}
		}
	}
}

.search-result {
	margin: 0 -5px 30px -5px;
	@include clearfix();

	.search-result-item {
		width: 33.33%;
		float: left;
		padding: 0 5px;
		max-height: 200px;
		overflow: hidden;
		margin-bottom: 10px;

		a {
			color: #fff;
			display: block;
			overflow: hidden;
			position: relative;
			@include transition(.3s);

			&:before {
				top: 0;
				left: 0;
				z-index: 1;
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				background: rgba(0,0,0, 0);
				@include transition(.3s);
			}

			img {
				@include transition(.3s);
			}

			.people-gallery-text {
				color: #fff;
				right: 0;
				bottom: 0;
				z-index: 5;
				padding: 10px;
				position: absolute;
				@include transition(.3s);
				@include translate(50px, 50px);

				i {
					margin-left: 5px;
				}

			}

			&:hover {

				&:before {
					background: rgba(0,0,0, 0.5);
					@include transition(.3s);
				}

				img {
					@include scale(1.2);
					@include transition(.3s);
				}

				.people-gallery-text {
					@include transition(.3s);
					@include translate(0,0);
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.search-result-item {
			width: 20%;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.articles {
	margin-bottom: 40px;
}

.article-item {
	padding: 15px 0;
	border-bottom: 1px solid #e8ecf0;

	&:first-child {
		padding-top: 5px;
	}

	h4 {

		a {

		}
	}

	.article-content {
		@include clearfix();
	}

	.article-image {
		max-width: 300px;
		margin-bottom: 10px;

		.article-image-inner {
			max-height: 170px;
			overflow: hidden;
			background: #000;
			@include border-radius(3px);

			a {
				display: block;
				@include transition(.3s);

				&:hover {
					@include opacity(.5);
				}
			}
		}
	}

	.article-text {
		@include clearfix();

		.article-meta {
			float: left;
		}

		p {
			float: left;
			width: 100%;
		}
	}

	@media (min-width: $screen-sm-min) {

		.article-image {
			float: left;
			width: 200px;
			height: 120px;

			.article-image-inner {
				height: 120px;
			}
		}

		.article-text {
			margin-left: 230px;
		}
	}
}

.article-meta {
	padding: 0;
	width: 100%;
	color: #a2a2a2;
	font-size: 13px;
	line-height: 16px;
	list-style: none;
	margin: 0 0 10px 0;
	@include clearfix();

	li {
		float: left;
		padding-right: 6px;
		margin-right: 5px;
		border-right: 1px dotted #6c6c6c;
	}
}

.heading {
	margin-bottom: 30px;

	h1 {
		margin-bottom: 15px;
	}
}

.article-main {
	margin-bottom: 40px;

	.article-box {
		padding: 9px;
		max-width: 300px;
		margin-bottom: 10px;
		border: 1px solid #e8ecf0;

		.article-box-thumb {
			max-width: 300px;
			max-height: 170px;
			overflow: hidden;
			background: #000;
			margin-bottom: 10px;
			@include border-radius(3px);

			a {
				display: block;
				@include transition(.3s);

				&:hover {
					@include opacity(.5);
				}
			}
		}

		p {
			font-size: 12px;
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-sm-min) {


		.article-box {
			float: left;
			width: 220px;
			margin: 0 20px 10px 0;

			.article-box-thumb {
				max-height: 120px;
			}
		}
	}
}

.article-thumb {
	max-width: 300px;
	max-height: 170px;
	overflow: hidden;
	background: #000;
	margin-bottom: 30px;
	@include border-radius(3px);

	a {
		display: block;
		@include transition(.3s);

		&:hover {
			@include opacity(.5);
		}
	}
}

.article-cat {
	padding: 15px;
	background: #F1F4F6;
	margin-bottom: 40px;
	border: 1px solid #e8ecf0;
	@include border-radius(3px);

	.article-cat-title {
		font-size: 13px;
		line-height: 19px;
		padding-bottom: 10px;
		border-bottom: 1px solid #b4b4b4;

		a {
			color: #333;
			text-decoration: none;

			&:hover {
				color: #333;
				text-decoration: underline;
			}
		}
	}

	.article-cat-list {

		li {
			font-size: 13px;
			line-height: 19px;
			display: block;
			padding: 10px 0;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #b4b4b4;

			&:last-child {
				border-bottom: none;
			}

			a {
				color: #333;
				text-decoration: none;

				&:hover {
					color: #333;
					text-decoration: underline;
				}
			}
		}
	}
}

.related {
	padding: 15px 0 30px 0;
	border-top: 1px solid #e8ecf0;
	border-bottom: 1px solid #e8ecf0;

	h3 {
		margin-bottom: 20px;
	}


	.related-list {
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		@include clearfix();

		li {
			padding: 0 15px;
			max-width: 300px;
			margin-bottom: 20px;

			a {
				color: #fff;
				display: block;
				position: relative;
				text-decoration: none;

				&:hover {
					text-decoration: underline;

					&:before {
						background: rgba(0,0,0, 0.2);
						@include transition(0.3s);
					}
				}

				&:before {
					top: 0;
					left: 0;
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					background: rgba(0,0,0, 0.6);
					@include transition(0.3s);
				}
			}
		}

		.related-heading {
			top: 30px;
			left: 15px;
			right: 15px;
			z-index: 10;
			font-size: 16px;
			line-height: 20px;
			position: absolute;
		}

		.related-seciton {
			left: 15px;
			bottom: 15px;
			z-index: 10;
			font-size: 11px;
			line-height: 12px;
			position: absolute;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {

		.related-list {

			li {
				width: 33.33%;
				float: left;
				max-width: inherit;
				margin-bottom: 0;

				&:last-child {
					display: none;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.related-list {

			li {
				width: 25%;

				&:last-child {
					display: block;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.comments {

	> li {
		font-size: 13px;
		padding: 20px 0;
		border-bottom: 1px solid #e8ecf0;

		> ul {
			padding-left: 30px;
			padding-top: 15px;
		}
	}

	.article-comments-author {
		@include clearfix();
		margin-bottom: 10px;

		.author-image {
			width: 62px;
			height: 62px;
			float: left;
			overflow: hidden;
			@include border-radius(50%);
		}

		.author-meta {
			color: #b2b7be;
			font-size: 13px;
			float: left;
			padding-top: 15px;
			margin-left: 20px;

			a {
				margin-right: 10px;
			}

			span {
				display: block;
				color: #b2b7be;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		> li {

			ul {
				padding-left: 60px;

				> li {
					padding-top: 20px;
				}
			}
		}
	}
}

.comments-new {
	padding-top: 50px;
	max-width: 720px;
}

.table {
	width: 100%;

	td,
	th {
		padding: 8px;
		font-size: 13px;
		line-height: 15px;
		text-align: left;
		border-left: 1px solid #e8ecf0;

		&:first-child {
			border-left: none;
		}
	}

	th {
		font-weight: 400;
		border-bottom: 1px solid #e8ecf0;
	}
}

.table-striped {
	background: #F1F4F6;

	tr {

		&:nth-child(even) {

			td {
				background: #fff;
			}
		}
	}
}

.table-yellow {
	background: #fefeef;
}

.announcement-new {
	padding-bottom: 40px;

	@media (min-width: $screen-sm-min) {
		padding-left: 60px;
		padding-right: 40px;
	}
}

.no-rate {
	width: 280px;
	margin: 50px auto 50px auto;
	font-size: 16px;
	line-height: 20px;
	position: relative;
	background: #F1F4F6;
	border: 1px solid #e8ecf0;
	padding: 45px 30px 45px 90px;
	@include border-radius(3px);

	i {
		top: 50%;
		left: 15px;
		height: 60px;
		font-size: 60px;
		line-height: 60px;
		position: absolute;
		margin-top: -30px;
	}

	span {
		height: 20px;
		display: block;
	}

	@media (min-width: $screen-md-min) {
		margin: 110px auto 130px auto;
	}
}

.visitor {
	font-size: 13px;
	margin-bottom: 30px;
	@include clearfix();

	.visitor-image {
		width: 80px;
		float: left;

		a {
			display: block;
			overflow: hidden;
			background: #000;
			@include border-radius(3px);

			img {
				@include transition(.3s);
			}

			&:hover {

				img {
					@include opacity(.6);
					@include transition(.3s);
				}
			}
		}
	}

	.visitor-text {
		margin-left: 95px;
		@include clearfix();

		.visitor-info {
			float: left;
			width: 100%;
			margin-bottom: 5px;

			span {
				margin-left: 8px;
			}
		}

		.visitor-date {
			color: #666;
			float: left;
			width: 100%;
		}
	}

	.visitor-action {
		float: left;
		margin-top: 10px;
		@include border-radius(3px);
		@include box-shadow(0 1px 0 0 #bdc6d7);
		@include gradient-vertical(#f5f9fc,#dbe2e7);

		li {
			float: left;
			border-left: 1px solid #fff;
			border-right: 1px solid #BDC6D7;

			&:first-child {
				border-left: none;
			}

			&:last-child {
				border-right: none;
			}

			a {
				width: 100%;
				min-width: 36px;
				color: #263352;
				font-size: 13px;
				padding: 4px 6px;
				line-height: 20px;
				white-space: nowrap;
				text-align: center;
				position: relative;
				vertical-align: middle;
				display: inline-block;
				text-decoration: none;
				text-shadow: 0 1px 0 #fff;

				i {
					font-size: 16px;
					line-height: 16px;
				}

				span {
					font-size: 12px;
					margin-left: 7px;

				}

				&:hover {
					@include gradient-vertical(#ebf1f4, #bac8d1);
				}

			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.visitor-action {

			li {
				a {
					span {
						display: inline-block;
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {

	.table-responsive {
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		margin-bottom: 25px;
		border: 1px solid #ddd;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		.table {
			margin-bottom: 0;
		}
	}
}



.breadcrumbs {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 20px 0;
	@include clearfix();

	li {
		float: left;
		font-size: 13px;
		line-height: 20px;

		&:after {
			content: '>';
			padding: 0 5px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		a {
			text-decoration: none;
		}
	}
}

.pagination {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -5px;
	list-style: none;

	li {
		float: left;
		padding: 0 5px 10px 5px;

		a {
			width: 30px;
			height: 30px;
			padding: 5px 0;
			font-size: 13px;
			line-height: 18px;
			display: inherit;
			text-align: center;
			text-decoration: none;
			border: 1px solid #c4c9cd;

			&:hover {
				color: #fff;
				background: $color-blue;
				border-color: $color-blue;
			}
		}

		span {
			width: 30px;
			height: 30px;
			color: #fff;
			padding: 5px 0;
			font-size: 13px;
			line-height: 18px;
			display: inherit;
			text-align: center;
			text-decoration: none;
			background: $color-blue;
			border: 1px solid $color-blue;
		}
	}
}


.top-line {
	margin-bottom: 20px;
	@include clearfix();

	.breadcrumbs {
		padding: 3px 0;
		margin-bottom: 5px;
	}

	.top-search {
		position: relative;
		padding-right: 82px;

		.btn {
			top: 0;
			right: 0;
			position: absolute;
		}
	}

	@media (min-width: $screen-sm-min) {

		.breadcrumbs {
			float: left;
			margin-bottom: 0;
		}

		.top-search {
			float: right;
			width: 330px;
		}
	}
}


.adv-row {
	background: #fff;
	margin-top: 50px;
	margin-bottom: 30px;
	@include box-shadow(0 1px 3px 2px rgba(0, 0, 0, 0.15));
}

.adv-item {
	margin-bottom: 3px;

	> a {
		padding: 15px;
		display: block;
		font-size: 13px;
		text-decoration: none;
		border-left: 3px solid #fff;

		&:hover {
			background: #F1F4F6;
			border-left-color: #F1F4F6;
		}
	}

	&.adv-premium {

		> a {
			background: #fefeef;
			border-left-color: $color-orange;
		}
	}

	.adv-content {
		margin-bottom: 10px;
	}

	.adv-tags {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		li {
			float: left;
			color: #666;
			margin-right: 15px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.announcement {
	font-size: 13px;

	.adv-header {
		color: #999;
		font-size: 13px;
		font-weight: 700;
		padding-right: 30px;
		margin-bottom: 15px;
		position: relative;
	}

	.adv-complaint {
		top: 0;
		right: 0;
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		position: absolute;
		text-decoration: none;
	}

	.adv-content {
		font-style: italic;
		margin-bottom: 20px;
	}
}

.announcement-new {

}


