.modal-close {
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	z-index: 900;
	cursor: pointer;
	position: absolute;
	display: inline-block;

	&:after,
	&:before {
		top: 50%;
		left: 50%;
		height: 1px;
		width: 20px;
		z-index: 10;
		content: '';
		margin-left: -10px;
		position: absolute;
		background: $color-orange;
	}

	&:after {
		@include rotate(45deg);
	}

	&:before {
		@include rotate(-45deg);
	}
}

.payment {
	padding: 20px;
	position: relative;
	background: #fff;
	width: 300px;

	.payment-heading {
		color: #000;
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px;

		span {
			font-size: 18px;
			line-height: 20px;
			margin-right: 10px;
			display: inline-block;
		}

		a {
			color: $color-blue;
			width: 20px;
			height: 20px;
			font-size: 14px;
			line-height: 14px;
			padding: 1px 1px 0 0;
			display: inline-block;
			text-decoration: none;
			text-align: center;
			border: 2px solid $color-blue;
			@include border-radius(50%);
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 590px;
		padding: 25px;
		max-width: inherit;
	}

	@media (min-width: $screen-md-min) {

	}
}


.payment-slider {
	margin-bottom: 20px;

	.irs-bar-edge {
		top: 33px;
	}
}

.payment-method {
	position: relative;
	margin: 0 20px 30px 20px;

	.payment-method-item {
		border: none;
		outline: none;
	}

	.payment-method-nav {
		width: 100%;
		height: 75px;
		color: #263352;
		display: block;
		font-size: 12px;
		padding-top: 10px;
		line-height: 14px;
		text-align: center;
		text-decoration: none;
		text-shadow: 0 1px 0 #fff;
		border-left: 1px solid #fff;
		border-right: 1px solid #BDC6D7;
		@include gradient-vertical(#f3f6f9, #dbe2e7);

		&:hover {
			@include gradient-vertical(#b9c7d0, #edf3f6);
		}

		&.active {
			@include box-shadow(inset 0 3px 4px 0 rgba(70,86,117,.65));
		}

		.payment-icon {
			display: inline-block;
			margin-bottom: 5px;
			vertical-align: middle;
			background: url('../img/icons_payments.png') no-repeat;

			&.payment-recharge {
				width: 28px;
				height: 22px;
				background-position: -221px 0;
			}

			&.payment-mobile {
				width: 15px;
				height: 24px;
				background-position: -117px 0;
			}

			&.payment-yandex {
				width: 18px;
				height: 26px;
				background-position: -75px 0;
			}

			&.payment-card {
				width: 24px;
				height: 27px;
				background-position: -24px 0;
			}

			&.payment-paypal {
				width: 24px;
				height: 25px;
				background-position: 0 0;
			}


			&.payment-qiwi {
				width: 27px;
				height: 30px;
				background-position: -48px 0;
			}
		}

		.payment-name {
			display: block;
		}
	}

	.slide-nav {
		top: 0;
		z-index: 20;
		width: 20px;
		height: 100%;
		display: block;
		cursor: pointer;
		text-align: center;
		padding: 27px 0 0;
		position: absolute;
		@include gradient-vertical(#f3f6f9, #dbe2e7);

		&:hover {
			@include gradient-vertical(#b9c7d0, #edf3f6);
		}

		span {
			width: 8px;
			height: 25px;
			display: inline-block;
			background: url('../img/icons_small.png') no-repeat;
		}

		&.prev {
			left: -20px;
			border-right: 1px solid #BDC6D7;
			border-radius: 4px 0 0 4px;

			span {
				background-position: -204px 0;
			}
		}

		&.next {
			right: -20px;
			border-radius: 0 4px 4px 0;
			border-left: 1px solid #fff;

			span {
				background-position: -180px 0;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.payment-method-nav {

			.payment-name {
				padding: 0 10px;
			}
		}
	}
}


.payment-content {
	display: none;

	&.payment-enable {
		display: block;
	}

	.payment-content-info {
		margin: 0 -2px 20px -2px;
	}

	.payment-operator {
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 0;
		line-height: 0;
		display: table;
		list-style: none;
		text-align: center;

		> li {
			padding: 0 2px;
			display: table-cell;
			vertical-align: middle;

			span {
				width: 100%;
				padding: 5px;
				cursor: pointer;
				font-size: 13px;
				line-height: 20px;
				text-align: center;
				display: inline-block;
				background: #F1F4F6;
				border: 1px solid #e8ecf0;
				@include border-radius(3px);
			}

			&.enable {

				span {
					border-color: $color-orange;
				}
			}
		}
	}

	.payment-action {

		.payment-action-left {

		}

		.payment-action-right {

		}
	}


	.total-price {
		font-size: 20px;
		display: inline-block;
	}

	.payment-credits {
		color: #ff0000;
		margin-bottom: 0;
	}

	.pay-creddits-profit {
		display: block;
	}

	@media (min-width: $screen-sm-min) {

		.payment-action {
			width: 100%;
			display: table;

			.payment-action-left {
				padding-right: 10px;
				display: table-cell;
				vertical-align: middle;
			}

			.payment-action-right {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}



.super-modal {
	max-width: 320px;
	padding: 25px 20px;

	.super-title {
		color: #000;
		font-size: 24px;
		line-height: 1.1;
		text-align: center;
		margin-bottom: 20px;
	}

	.super-list {
		padding: 0;
		list-style: none;
		margin: 0 -10px 20px 0;
		@include clearfix();

		li {
			font-size: 13px;
			line-height: 18px;
			text-align: center;
			position: relative;
			margin-bottom: 10px;
			padding: 125px 10px 0 10px;

			&:before {
				top: 0;
				left: 50%;
				content: '';
				width: 120px;
				height: 120px;
				margin-left: -60px;
				position: absolute;
				background: url('../img/super_sprite.png') no-repeat;
			}

			&:nth-child(1) {

				&:before {
					background-position: 0 0;
				}
			}

			&:nth-child(2) {

				&:before {
					background-position: -120px 0;
				}
			}

			&:nth-child(3) {

				&:before {
					background-position: -240px 0;
				}
			}

			&:nth-child(4) {

				&:before {
					background-position: -360px 0;
				}
			}

			&:nth-child(5) {

				&:before {
					background-position: -480px 0;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		width: 700px;
		max-width: inherit;
		padding: 50px 50px 40px 50px;

		.super-list {

			li {
				float: left;
				width: 33.33%;

				&:nth-child(4) {
					margin-left: 16.66%;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
		max-width: inherit;
		width: 730px;
		padding: 50px 70px 40px 70px;
	}
}

.opportunity {
	padding: 0;
	list-style: none;
	margin: 0 -15px 40px -15px;
	@include clearfix();

	li {
		font-size: 13px;
		line-height: 18px;
		text-align: center;
		margin-bottom: 20px;
		position: relative;
		padding: 0 15px 160px 15px;

		&:before {
			left: 50%;
			bottom: 0;
			content: '';
			width: 200px;
			height: 154px;
			position: absolute;
			margin-left: -100px;
			background: url('../img/super-icon-large.png') no-repeat;
		}

		strong {
			display: block;
			margin-bottom: 10px;
		}

		span {

		}

		&:nth-child(1) {

			&:before {
				background-position: 0 0;
			}
		}

		&:nth-child(2) {

			&:before {
				background-position: 0 -154px;
			}
		}

		&:nth-child(3) {

			&:before {
				background-position: 0 -308px;
			}
		}

		&:nth-child(4) {

			&:before {
				background-position: 0 -462px;
			}
		}

		&:nth-child(5) {

			&:before {
				background-position: 0 -614px;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		li {
			float: left;
			width: 33.33%;

			&:nth-child(4) {
				margin-left: 16.66%;
			}
		}
	}
}


.photoline {
	padding-top: 20px;
	//margin-bottom: 20px;

	.photoline-wrap {
		height: 98px;
		padding-left: 98px;
		background: #fff;
		position: relative;
		@include clearfix();
		@include box-shadow(0 1px 3px 2px rgba(0,0,0,.15));
	}

	.photoline-plus {
		top:0;
		left: 0;
		width: 98px;
		height: 97px;
		display: block;
		position: absolute;
		border: 1px solid #fff;
		@include gradient-vertical(#d9e4ee,#a3b6c5);

		&:before {
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			height: 62px;
			width: 62px;
			z-index: 3;
			content: '';
			position: absolute;
			background: url('../img/icon_plus.png') 0 0 no-repeat;
			-ms-transition: opacity .5s ease 0s;
			-webkit-transition: opacity .5s ease 0s;
			-moz-transition: opacity .5s ease 0s;
			-o-transition: opacity .5s ease 0s;
			transition: opacity .5s ease 0s;
		}

		&:hover {
			@include gradient-vertical(#a3b6c5, #d9e4ee);

			&:before {
				background-position: 0 -62px;
			}
		}
	}

	.photoline-content {
		overflow: hidden;
		width: 100%;
		height: 98px;
		max-width: 100%;

		.photoline-inner {
			width: 1078px;
		}
	}


	.photoline-slider {
		width: 100%;
		position: relative;

		.photoline-item {
			outline: none;
			border-left: 1px solid #fff;

			a {
				color: #fff;
				display: block;
				overflow: hidden;
				position: relative;
				@include transition(.3s);

				&:before {
					top: 0;
					left: 0;
					z-index: 1;
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					background: rgba(0,0,0, 0);
					@include transition(.3s);
				}

				img {
					@include transition(.3s);
				}

				.people-gallery-text {
					color: #fff;
					right: 0;
					bottom: 0;
					z-index: 5;
					padding: 10px;
					position: absolute;
					@include transition(.3s);
					@include translate(50px, 50px);

					i {
						margin-left: 5px;
					}

				}

				&:hover {

					&:before {
						background: rgba(0,0,0, 0.5);
						@include transition(.3s);
					}

					img {
						@include scale(1.2);
						@include transition(.3s);
					}

					.people-gallery-text {
						@include transition(.3s);
						@include translate(0,0);
					}
				}
			}
		}
	}
}


.popular-target {
	padding: 0;
	list-style: none;
	margin: 0 0 30px 0;

	> li {
		width: 100%;
		display: table;

		> a {
			color: $text-color;
			min-height: 120px;
			padding: 20px 20px;
			position: relative;
			display: table-cell;
			text-decoration: none;
			vertical-align: middle;
			border-bottom: 1px solid #e8ecf0;

			&:before {
				top: 50%;
				left: 30px;
				content: '';
				width: 110px;
				height: 110px;
				margin-top: -55px;
				position: absolute;
				visibility: hidden;
				@include opacity(0);
			}

			h4 {
				color: #000;
				font-size: 18px;
				font-weight: 400;
				line-height: 24px;
				margin-bottom: 10px;
			}

			p {
				font-size: 13px;
				line-height: 18px;
				margin-bottom: 0;
			}
		}

		&.active {

			> a {
				background: #e8ecf0;
			}
		}

		&:nth-child(1) {

			> a {

				&:before {
					background: url("../img/photoline_icon_01.png") 50% 50% no-repeat;
				}
			}
		}

		&:nth-child(2) {

			> a {

				&:before {
					background: url("../img/photoline_icon_02.png") 50% 50% no-repeat;
				}
			}
		}

		&:nth-child(3) {

			> a {

				&:before {
					background: url("../img/photoline_icon_03.png") 50% 50% no-repeat;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		> li {

			> a {
				padding: 25px 30px 25px 170px;

				&:before {
					visibility: visible;
					@include opacity(1);
				}
			}
		}
	}
}


.payment-title {
	color: #000;
	font-size: 23px;
	line-height: 1.1;
	text-align: center;
	margin-bottom: 30px;
}


.payment-nav {
	padding: 0;
	width: 200px;
	list-style: none;
	margin: 0 auto 50px auto;
	@include clearfix();

	li {
		width: 50%;
		float: left;

		a {
			width: 100px;
			height: 100px;
			display: block;
			font-size: 13px;
			line-height: 18px;
			color: $text-color;
			text-align: center;
			text-decoration: none;
			border: 1px solid #fff;
			padding: 10px 5px 5px 5px;
			@include border-radius(4px);

			i {
				font-size: 40px;
				line-height: 40px;
				color: $color-blue;
			}

			span {
				display: block;
			}

			&:hover {
				color: $text-color;
			}
		}

		&.active {

			a {
				border-color: $color-blue;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 400px;

		li {
			width: 25%;
		}
	}
}

.payment-type {
	margin: 0 auto 30px auto;
	max-width: 650px;
}

.payment-type {
	margin: 0 auto;
	list-style: none;


	.payment-mobile-elem {
		padding: 0;
		margin: 0 auto 20px auto;
		max-width: 300px;
		list-style: none;
		@include clearfix();

		li {
			width: 50%;
			float: left;
			padding: 0 5px;
			margin-bottom: 10px;

			a {
				color: #000;
				display: block;
				font-size: 13px;
				line-height: 20px;
				padding: 10px 10px;
				text-align: center;
				background: #F1F4F6;
				text-decoration: none;
				border: 1px solid #e8ecf0;
				@include border-radius(3px);
			}

			&.active {

				a {
					border-color: $color-orange;
				}
			}
		}
	}

	.payment-coin-elem {
		padding: 0;
		margin: 0 auto 20px auto;
		max-width: 300px;
		list-style: none;
		@include clearfix();

		li {
			width: 33.33%;
			float: left;
			padding: 0 5px;
			margin-bottom: 10px;

			a {
				color: #000;
				display: block;
				font-size: 13px;
				line-height: 20px;
				padding: 10px 10px;
				text-align: center;
				background: #F1F4F6;
				text-decoration: none;
				border: 1px solid #e8ecf0;
				@include border-radius(3px);
			}

			&.active {

				a {
					border-color: $color-orange;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {


		.payment-mobile-elem {
			width: 440px;
			max-width: inherit;

			li {
				width: 25%;

				a {
					padding: 15px 10px;
				}
			}
		}

		.payment-coin-elem {
			width: 440px;
			max-width: inherit;

			li {

				a {
					padding: 15px 10px;
				}
			}
		}
	}
}

.payment-selector {
	width: 100%;
	margin-top: 25px;
	padding: 20px 0;
	position: relative;
	border: 2px solid #fc3;
	@include border-radius(15px);

	.payment-selector-title {
		width: 180px;
		padding: 5px 5px;
		font-size: 15px;
		line-height: 16px;
		text-align: center;
		margin: -45px auto 20px auto;

		span {
			padding: 0 10px;
			background: #fff;
			display: inline-block;
		}
	}

	.payment-selector-item {
		display: block;
		position: relative;

		input[type='radio'] {
			display: none;
		}

		.payment-label {
			width: 100%;
			height: 40px;
			display: block;
			cursor: pointer;
			position: relative;
			padding-left: 40px;
			padding-right: 15px;
			font-size: 16px;
			line-height: 20px;
			background: #fff;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;

			&:before {
				top: 11px;
				left: 15px;
				width: 18px;
				height: 18px;
				content: '';
				z-index: 10;
				position: absolute;
				display: inline-block;
				border: 2px solid #666;
				@include border-radius(50%);
			}

			&:after {
				top: 16px;
				left: 20px;
				width: 8px;
				height: 8px;
				content: '';
				z-index: 10;
				background: #666;
				visibility: hidden;
				position: absolute;
				display: inline-block;
				@include opacity(0);
				@include border-radius(50%);
			}

			.size {
				float: left;
				width: 75px;
				font-size: 20px;
				line-height: 38px;
				text-align: right;
				position: relative;
				padding-right: 22px;

				i {
					right: 0;
					bottom: 9px;
					display: block;
					height: 24px;
					position: absolute;
					width: 18px;
					background: url('../img/icons.png') 0 -406px no-repeat;
				}
			}

			.bonus-size {
				float: right;
				width: 100px;
				font-size: 13px;
				line-height: 38px;
				padding-left: 10px;
				position: relative;

				.b {
					display: none;
				}

				.coin-m {
					width: 13px;
					height: 12px;
					display: inline-block;
					position: relative;

					i {
						left: 2px;
						top: -9px;
						background: url('../img/icons.png') 0 -406px no-repeat;
						display: block;
						height: 24px;
						position: absolute;
						width: 24px;
					}
				}
			}
		}

		input[type='radio']:checked + .payment-label {
			background: #fffae7;
			border-top: 1px solid #ffbb94;
			border-bottom: 1px solid #ffbb94;

			&:after {
				visibility: visible;
				@include opacity(1);
			}

			.bonus-size {

				.b {
					display: inline;
				}
			}
		}
	}
}

.method-name {
	font-size: 18px;
	line-height: 22px;
	padding-top: 20px;
	margin-bottom: 15px;
}

.method-result {
	font-size: 15px;
	margin-bottom: 15px;
	@include clearfix();

	.method-result-name {
		float: left;
		padding: 3px 0 0;
		width: 130px;
		line-height: 24px;
	}

	.method-result-sum {
		float: left;
		font-size: 20px;
		line-height: 24px;

		.method-result-value {
			font-size: 20px;
		}

		.method-result-currency {
			font-size: 15px;
		}
	}
}

.yellow-block {
	font-size: 12px;
	position: relative;
	background: #fefeef;
	margin: 15px 0 0 0;
	padding: 10px 10px;
	border: 1px solid #e8ecf0;
	@include border-radius(4px);
}

.tabs {

	.tabs-item {
		display: none;

		&.active {
			display: block;
		}
	}
}


.popular {
	margin: 0 auto;
	max-width: 800px;
	padding-top: 40px;

	h2 {
		color: #000;
		text-align: center;
		margin-bottom: 20px;
	}

	ul {
		padding: 0;
		list-style: none;
		margin: 0 -10px;
		@include clearfix();


		li {
			width: 50%;
			float: left;
			padding: 0 10px;
			text-align: center;
			margin-bottom: 20px;
		}
	}

	.popular-image {
		width: 96px;
		height: 96px;
		display: block;
		padding-top: 5px;
		overflow: hidden;
		margin: 0 auto 5px auto;
		border: 1px solid transparent;
		@include border-radius(4px);

		&:hover {
			border-color: $color-orange;
		}
	}

	.popular-title {
		font-size: 13px;
		line-height: 18px;
		color: $color-blue;
		text-decoration: none;

		&:hover {
			color: $color-orange;
		}
	}

	@media (min-width: $screen-md-min) {

		ul {

			li {
				width: 25%;
			}
		}
	}
}

