.footer {
	padding: 20px 0 30px 0;
	background: url("../img/footer_bg.png") 0 0;

	.footer-row {

		.footer-col {

			&.footer-col-left {

			}

			&.footer-col-right {
				padding: 38px 0 0 0;
			}
		}
	}

	.footer-nav-primary {
		list-style: none;
		margin: 0 0 0 0;
		padding: 20px 0 0 0;

		> li {

			> a {
				color: #fff;
				font-size: 18px;
				line-height: 20px;
				margin: 0 0 20px;
				display: inline-block;
				padding: 20px 0 39px 88px;
				text-decoration: underline;
				background: url('../img/footer_icon_gefault.png') 0 0 no-repeat;

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}

			&:nth-child(1) {

				> a {
					background-position: 0 0;
				}
			}

			&:nth-child(2) {

				> a {
					background-position: 0 -94px;
				}
			}

			&:nth-child(3) {

				> a {
					background-position: 0 -186px;
				}
			}
		}

		&.flang-russian {

			> li {

				> a {
					background: url('../img/footer_icon_russian.png') 0 0 no-repeat;
				}

				&:nth-child(1) {

					> a {
						background-position: 0 0;
					}
				}

				&:nth-child(2) {

					> a {
						background-position: 0 -90px;
					}
				}

				&:nth-child(3) {

					> a {
						background-position: 0 -182px;
					}
				}
			}
		}
	}

	.footer-social {
		margin-bottom: 15px;

		.footer-social-title {
			color: #fff;
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 10px;
		}

		ul {
			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			@include clearfix();

			li {
				float: left;
				margin-right: 10px;

				a {
					color: #fff;
					width: 32px;
					height: 32px;
					padding: 5px 0;
					font-size: 20px;
					line-height: 20px;
					text-align: center;
					display: inline-block;
					border: 1px solid #fff;
					@include border-radius(4px);

					&:hover {
						color: #dcc4a1;
						border-color: #dcc4a1;
					}
				}
			}
		}
	}

	.footer-nav-second {
		padding: 0;
		list-style: none;
		margin: 0 0 0 -8px;
		@include clearfix();

		li {
			float: left;
			color: #dcc4a1;
			font-size: 13px;

			&:after {
				content: "|";
			}

			&:last-child {

				&:after {
					display: none;
				}
			}

			a {
				margin: 0 8px;
				color: #dcc4a1;
				font-size: 14px;
				text-decoration: underline;

				&:hover {
					color: #dcc4a1;
					text-decoration: none;
				}
			}
		}
	}

	.footer-nav {
		padding: 0;
		margin: 0 0 35px -15px;
		list-style: none;
		@include clearfix();

		li {
			float: left;
			color: #dcc4a1;
			font-size: 18px;

			&:after {
				content: "|";
			}

			&:last-child {

				&:after {
					display: none;
				}
			}

			a {
				margin: 0 15px;
				color: #dcc4a1;
				font-size: 18px;
				text-decoration: underline;

				&:hover {
					color: #dcc4a1;
					text-decoration: none;
				}
			}
		}
	}

	.footer-like {
		margin-bottom: 35px;
	}

	.footer-copyright {
		color: #c4beab;
		margin: 0 25px 0 0;
		padding: 0 25px 0 75px;
		font-size: 16px;
		line-height: 20px;
	}

	.footer-logo {
		width: 287px;
		display: block;
	}

	@media (min-width: $screen-sm-min) {
		left: 0;
		right: 0;
		bottom: 0;
		padding-bottom: 10px;
		position: absolute;

		.footer-row {
			width: 100%;
			display: table;

			.footer-col {
				height: 430px;
				display: table-cell;
				vertical-align: top;

				&.footer-col-left {
					width: 300px;
					background: url("../img/footer_vertical_dot.png") 100% 0 repeat-y;
				}

				&.footer-col-right {
					padding: 38px 0 0 70px;
				}
			}
		}

	}

	@media (min-width: $screen-lg-min) {

		.footer-row {

			.footer-col {

				&.footer-col-left {
					width: 390px;
				}

			}
		}
	}

}