.header-auth {
	z-index: 999;
	padding: 20px 0;
	min-height: 77px;
	position: relative;
	background: #e3e9f1;

	.header-logo {
		top: 0;
		right: 15px;
		width: 130px;
		display: block;
		position: absolute;
	}

	.header-lng {
		margin-top: 5px;
		position: relative;
		display: inline-block;

		.header-lng-current {
			font-size: 16px;
			line-height: 20px;
			position: relative;
			display: inline-block;
			padding-right: 16px;
			text-decoration: none;

			&:before {
				top: 0;
				right: 0;
				color: #555555;
				font-size: 16px;
				line-height: 20px;
				content: "\f0da";
				position: absolute;
				font-family: FontAwesome;
			}

			span {
				text-decoration: underline;
			}

			&:hover {

				span {
					text-decoration: none;
				}
			}
		}

		.lang_item {
			left: 100%;
			top: -2px;
			padding: 0 0 0 20px;
			display: block;
			position: absolute;
			visibility: hidden;
			@include opacity(0);
			@include transition(.2s);

			ul {
				margin: 0;
				padding: 0;
				background: #fff;
				list-style: none;
				@include box-shadow(0 0 12px #504f4f);


				> li {
					position: relative;

					&:first-child {

						&:before {
							left: -24px;
							top: 0px;
							content: '';
							position: absolute;
							border: 12px solid transparent;
							border-right: 12px solid #fff;
						}

						&:hover {

							&:before {
								border-right-color: #ccc;
							}
						}
					}

					> a {
						width: 100%;
						height: 24px;
						color: #000;
						padding: 2px 15px 2px 15px;
						font-size: 10px;
						font-weight: 700;
						line-height: 20px;
						display: inline-block;
						text-decoration: none;

						&:hover {
							background: #ccc;
						}
					}
				}
			}
		}

		&:hover {

			.lang_item {
				visibility: visible;
				@include opacity(1);
				@include transition(.2s);
			}
		}
	}

	.header-info {
		font-size: 16px;
		line-height: 22px;
		padding-left: 30px;
		margin-top: 15px;
		background: url('../img/icons.png') 0 0 no-repeat;

	}

	@media (min-width: $screen-sm-min) {

		.header-logo {
			top: auto;
			right: auto;
			float: left;
			//	padding: 5px 0;
			position: relative;
			margin: 0 30px 0 0;
		}

		.header-lng {
			float: left;
		}

		.header-info {
			float: right;
			margin-top: 5px;
			text-align: left;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.header {
	z-index: 999;
	padding: 20px 0;
	position: relative;
	background: #e3e9f1;

	.header-logo {
		float: left;
		width: 130px;
		display: block;
	}

	.nav-toggle {
		color: #666;
		float: right;
		width: 30px;
		height: 30px;
		font-size: 0;
		line-height: 0;
		padding: 5px 3px;
		text-decoration: none;
		display: inline-block;

		span {
			width: 100%;
			height: 3px;
			background: #666;
			margin-bottom: 5px;
			position: relative;
			display: inline-block;
			@include transition(.3s);

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.open {

			span {
				@include transition(.3s);

				&:nth-child(1) {
					top: 5px;
					@include rotate(45deg);
				}

				&:nth-child(2) {
					display: none;
				}

				&:nth-child(3) {
					top: -3px;
					@include rotate(-45deg);
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.header-logo {
			padding-top: 5px;
		}

		.nav-toggle {
			display: none;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}


.header-nav {
	left: 0;
	right: 0;
	top: 100%;
	padding: 0;
	z-index: 999;
	display: none;
	list-style: none;
	position: absolute;
	margin: 20px 0 0 0;

	&.open {
		display: block;
	}

	> li {
		position: relative;
		border-bottom: 1px solid #cacaca;

		> a {
			width: 100%;
			color: #6c6c6c;
			font-size: 12px;
			line-height: 19px;
			padding: 0 15px;
			position: relative;
			white-space: nowrap;
			display: inline-block;
			text-decoration: none;
			background: url("../img/header_nav_bg.png") 0 0 repeat-x;

			&:hover {
				background-position: 0 -35px;
			}

			span {
				display: inline-block;
				padding: 8px 0 8px 35px;
				background: url("../img/header_nav_icons.png") 0 7px no-repeat;

				&.nav-people {
					background-position: 0 7px;
				}

				&.nav-encounters {
					background-position: 0 -128px;
				}

				&.nav-msg {
					background-position: 0 -265px;
				}

				&.nav-ads {
					background: url("../img/header_nav_icons_more.png") 0 5px no-repeat;
				}
			}
		}

		&:last-child {

			> a {
				display: none;

				span {
					padding: 8px 0;
					background: none;
				}
			}
		}
	}


	.header-dropnav {
		margin: 0;
		padding: 0;
		z-index: 999;
		list-style: none;

		> li {
			border-bottom: 1px solid #cacaca;

			> a {
				width: 100%;
				color: #6c6c6c;
				font-size: 12px;
				line-height: 19px;
				white-space: nowrap;
				display: inline-block;
				text-decoration: none;
				padding: 8px 15px 8px 50px;
				background: url("../img/header_nav_bg.png") 0 0 repeat-x;

				&:hover {
					background-position: 0 -35px;
				}

				span {

				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		top: auto;
		left: auto;
		right: auto;
		float: right;
		margin-top: 0;
		display: block;
		position: relative;
		border: 1px solid #dcdcdc;
		border-bottom-color: #cacaca;
		background: url("../img/header_nav_bg.png") 0 0 repeat-x;
		@include border-radius(3px);

		> li {
			float: left;
			border-bottom: none;
			border-right: 1px solid #b6bac1;
			
			> a {
				padding: 0 15px 0 12px;
				border-left: 1px solid #fff;

				&:hover {
					border-left-color: transparent;
				}
			}

			&:first-child {

				> a {
					border-left: none;
				}
			}

			&:last-child {
				padding-right: 0;
				background: none;
				border-right: none;

				> a {
					display: inline-block;
					padding: 0 17px 0 12px;
				}
			}

			&:hover {

				.header-dropnav {
					display: block;
				}
			}
		}

		.header-dropnav {
			right: 0;
			top: 100%;
			z-index: 999;
			display: none;
			position: absolute;

			> li {
				border-bottom: none;

				> a {
					padding: 8px 20px 8px 15px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		> li {

			> a {

				span {

				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}