
// User bar

.user-bar {
	padding-top: 20px;

	.user-bar-box {
		@include clearfix();
		@include border-radius(3px);
		@include box-shadow(0 1px 0 0 #bdc6d7);
		@include gradient-vertical(#f5f9fc, #dbe2e7);
	}
}

.user-bar-group {
	margin: 0;
	padding: 0;
	list-style: none;
	@include clearfix();

	> li {
		float: left;
		border-left: 1px solid #fff;
		border-right: 1px solid #BDC6D7;

		> a {
			width: 100%;
			min-width: 36px;
			color: #263352;
			font-size: 13px;
			padding: 8px 10px;
			line-height: 20px;
			white-space: nowrap;
			text-align: center;
			position: relative;
			vertical-align: middle;
			display: inline-block;
			text-decoration: none;
			text-shadow: 0 1px 0 #fff;

			i {
				font-size: 16px;
				line-height: 16px;
			}

			span {
				display: none;

			}

			sup {
				top: -5px;
				right: 0;
				width: 20px;
				height: 20px;
				color: #fff;
				padding: 1px 0;
				font-size: 10px;
				font-weight: 400;
				line-height: 12px;
				position: absolute;
				text-align: center;
				display: inline-block;
				border: 2px solid #fff;
				@include border-radius(50%);
				@include gradient-vertical(#ff8d39,#c12205);
				@include box-shadow(0 1px 3px rgba(0,0,0,.8));
			}

			&:hover {
				@include gradient-vertical(#ebf1f4, #bac8d1);
			}


			&.user-vip {

				i {
					color: #FF6600;
				}
			}

			&.user-coin {

				b,
				span {
					display: none;
				}
			}
		}

		&.btn-dropdown {

			&.open {

				> a {
					@include gradient-vertical(#dbe2e7, #f5f9fc);
				}
			}
		}
	}

	&.user-bar-left {
		float: left;

		> li {

			&:first-child {
				border-left: none;
			}
		}
	}

	&.user-bar-right {
		float: right;
		border-left: 1px solid #BDC6D7;

		> li {

			&:last-child {
				border-right: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		> li {

			> a {
				padding: 8px 15px;

				i {
					color: #666699;
				}

				span {
					display: inline;
				}

				&.user-coin {

					b,
					span {
						display: inline;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.profile-main {
	padding-bottom: 20px;
}

.profile-info {
	margin-bottom: 20px;

	.profile-username {
		margin: 0 15px 0 0;
		font-size: 25px;
		width: 100%;
	}

	.profile-misc {
		margin-bottom: 25px;
	}

	@media (min-width: $screen-md-min) {
		padding-left: 20px;
	}
}

.profile-cloud {
	margin-bottom: 20px;
	position: relative;
	border-style: solid;
	border-color: #f9fdff;
	border-width: 34px 35px 34px 33px;
	border-image: url('../img/profile_cloud.svg') 30 32 32 30 fill round;
	width: 100%;
	box-sizing: border-box;
	border-radius: 20px;

	&:before {
		display: none;
		background: url('../img/profile_cloud_before.svg') left top no-repeat;
		position: absolute;
		content: '';
		height: 27px;
		width: 40px;
		top: -14px;
		left: -70px;
	}

	.profile-cloud-message {

	}

	.profile-cloud-message-empty {
		font-style: italic;
		text-align: center;
		line-height: 19px;
		@include opacity(0.5);
	}

	@media (min-width: $screen-sm-min) {

		&:before {
			display: block;
		}
	}
}

.profile-photo-block {
	max-width: 270px;
	text-align: center;
	margin: 0 auto 20px auto;

	.profile-photo {
		width: 270px;
		height: 270px;
		padding: 10px;
		background: #fff;
		margin-bottom: 10px;
		@include border-radius(5px);
		@include box-shadow(0 1px 4px 0 rgba(0,0,0,.3));

		.no-photo {
			text-align: center;

			.no-photo-text {
				padding: 25px 0 15px;
				color: #6D83AD;
				font-size: 20px;
				text-align: center;
			}

			.no-photo-icon {
				margin-bottom: 20px;
			}

			.btn {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	.profile-photo-album {

	}

	@media (min-width: $screen-sm-min) {
		margin: 0 0 20px 0;
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.profile-nav {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 -5px;

	> li {
		padding: 0 5px;
		margin-bottom: 8px;
		display: inline-block;

		> a {
			color: $link-color;
			font-size: 13px;
			line-height: 20px;
			padding: 2px 20px;
			display: inline-block;
			text-decoration: none;
			@include border-radius(5px);
			@include gradient-vertical(#eceae4, #e7dec2);
		}

		&.active {

			> a  {
				color: #000;
				@include gradient-vertical(#c4bca3, #eceae4);
			}
		}
	}
}

.profile-row {
	margin: 0 -10px;
	@include clearfix();

	.profile-col {
		padding: 0 10px;
		margin-bottom: 25px;
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include flex-wrap(nowrap);

		.profile-col {
			width: 50%;
			@include flexbox();
		}
	}
}

.info-box {
	width: 100%;
	min-height: 90px;
	background: #fff;
	position: relative;
	padding: 15px 15px 15px 90px;
	@include flexbox();
	@include box-shadow(0 1px 3px 2px rgba(0,0,0,.15));

	.info-box-wrap {
		width: 100%;
		margin: auto 0;
		position: relative;
	}

	.info-box-icon {
		left: 15px;
		top: 50%;
		height: 58px;
		width: 58px;
		display: block;
		margin-top: -27px;
		position: absolute;

		&.icon-present {
			background: url("../img/icon_present.svg") 0 0 no-repeat;
			background-size: cover;
		}

		&.icon-vip {
			background: url("../img/icon_vip.svg") 0 0 no-repeat;
			background-size: cover;
		}
	}

	.info-box-text {
		font-size: 13px;
		line-height: 17px;
	}

	.info-box-action {
		padding-top: 7px;
		@include clearfix();

		.btn-border {
			float: left;
			margin-right: 10px;
		}
	}
}

.profile-interest {

	.usertags {
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 -10px 0 0;

		> li {
			margin: 0 10px 10px 0;
			display: inline-block;


			> a {
				margin:0;
				color: #000;
				border: none;
				outline: none;
				cursor: pointer;
				font-size: 13px;
				font-weight: 400;
				line-height: 15px;
				text-align: center;
				position: relative;
				padding: 2px 6px;
				background: transparent;
				display: inline-block;
				text-decoration: none;
				vertical-align: middle;
				background-image: none;
				touch-action: manipulation;
				@include border-radius(4px);
				@include gradient-vertical(#eceae4, #e7dec2);

				&:hover {
					color: #fff;
					text-decoration: none;
					background: $color-brown
				}

				&:active {
					background: #e7dec2;
				}
			}
		}
	}

	.usertags-new {
		padding-top: 5px;

		.usertag-add {
			display: inline-block;
		}

		.usertags-list-wrap {
			display: none;
		}

		&.open {

			.usertag-add {
				display: none;
			}

			.usertags-list-wrap {
				display: block;
			}
		}
	}

	.usertag-add {
		margin:0;
		color: $link-color;
		outline: none;
		cursor: pointer;
		font-size: 13px;
		font-weight: 400;
		line-height: 15px;
		text-align: center;
		position: relative;
		padding: 2px 8px;
		background: transparent;
		display: inline-block;
		text-decoration: none;
		vertical-align: middle;
		background-image: none;
		touch-action: manipulation;
		border: 1px solid #4f71a6;
		@include border-radius(3px);
		@include transition(.3s);

		&:hover {
			color: $link-color;
			text-decoration: none;
			background: #e5effa;
		}

		&:active {
			background: #cfe3f8;
		}
	}

	.usertags-list {
		margin-bottom: 20px;

		.usertags-group {
			z-index: 2;
			position: relative;
			padding: 10px 0 10px 0;

			li {
				padding: 5px 0;
				position: relative;

				&:before {
					top: 50%;
					right: -1px;
					content: "";
					width: 13px;
					height: 17px;
					display: none;
					margin-top: -8px;
					position: absolute;
					background: url("../img/usertag_add_arrow.png") 0 0 no-repeat;
				}

				span {
					margin:0;
					color: $link-color;
					outline: none;
					cursor: pointer;
					font-size: 13px;
					font-weight: 400;
					line-height: 15px;
					text-align: center;
					position: relative;
					padding: 2px 6px;
					display: inline-block;
					text-decoration: none;
					vertical-align: middle;
					background-color: #eff1f6;
					border: 1px solid #dadeeb;
					touch-action: manipulation;
					@include border-radius(3px);
					@include gradient-vertical(#fdfdfe, #dadeeb);
				}

				&.active {
					background: $link-color;

					span {
						color: #fff;
						border-color: transparent;
						background-color: transparent;
						@include gradient-vertical(transparent, transparent);
					}
				}
			}
		}

		.usertags-category {
			z-index: 1;
			padding: 10px 15px;
			position: relative;

			> ul {
				display: none;

				&.active {
					display: block;
				}

				li {
					padding: 5px 0;

					a {
						margin:0;
						color: #263352;
						outline: none;
						cursor: pointer;
						font-size: 13px;
						font-weight: 400;
						line-height: 15px;
						text-align: center;
						position: relative;
						padding: 2px 6px;
						background: transparent;
						display: inline-block;
						text-decoration: none;
						vertical-align: middle;
						background-image: none;
						border: 1px solid #ecf0f3;
						touch-action: manipulation;
						@include border-radius(3px);

						&:hover {
							border-color:  $link-color;
						}
					}
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.usertags-list {
			@include flexbox();
			@include clearfix();
			@include flex-wrap(nowrap);

			.usertags-group {
				width: 50%;
				float: left;
				border-right: 1px solid #E8ECF0;

				li {

					&.active {

						&:before {
							display: block;
						}
					}
				}
			}

			.usertags-category {
				width: 50%;
				float: left;
			}
		}
	}
}

.profile-question {

	.profile-question-header {
		margin-bottom: 10px;
		@include clearfix();

		h2 {
			float: left;
			margin-bottom: 0;
		}

		.btn-add-question {
			float: right;
			font-size: 13px;
			margin-top: 5px;
			text-decoration: none;
			display: inline-block;
		}
	}

	.profile-question-content {
		font-size: 13px;
	}

	.question-intro {
		padding: 7px 0;
	}

	.question-item {
		position: relative;
		padding: 7px 50px 7px 0;

		.question-item-delete {
			top: 10px;
			right: 0;
			cursor: pointer;
			color: $color-brown;
			font-size: 16px;
			line-height: 16px;
			position: absolute;
			display: inline-block;
		}
	}

	.profile-question-new {
		display: none;
	}

	&.add-question {

		.profile-question-header {

			.btn-add-question {
				display: none;
			}
		}

		.profile-question-new {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {

		.profile-question-header {

			h2 {
				width: 250px;
			}

			.btn-add-question {
				float: left;
			}
		}
	}
}

.profile-data {

	.profile-data-header {
		margin-bottom: 10px;
		@include clearfix();

		h2 {
			float: left;
			margin-bottom: 0;
		}

		.btn-data-edit {
			float: right;
			font-size: 13px;
			margin-top: 5px;
			text-decoration: none;
			display: inline-block;
		}
	}

	.profile-search {
		margin-bottom: 30px;
	}

	.profile-data-new {
		display: none;
		margin-bottom: 15px;
		padding: 15px 15px 0 15px;
		border: 1px solid #E8ECF0;

		.btn-group {
			margin: 0 -15px;
			background: #F1F4F6;
			padding: 15px 10px 5px 10px;
			border-top: 1px solid #E8ECF0;
		}
	}

	.profile-box-content {
		font-size: 13px;
	}

	.data-item {
		font-size: 13px;
		margin-bottom: 10px;

		p {
			margin-bottom: 0;
		}
	}

	.profile-box {

		&.add-data {

			.profile-data-new {
				display: block;
			}

			.profile-box-content {
				display: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.profile-data-header {

			h2 {
				width: 250px;
			}

			.btn-data-edit {
				float: left;
			}
		}
	}
}

.profile-title {
	color: #000;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 30px;
}


.setting-box {
	margin-bottom: 25px;

	h3 {
		color: $color-blue;
		margin-bottom: 15px;
	}
}