.sidebar {
	max-width: 400px;
	margin: 0 auto 40px auto;

	@media (min-width: $screen-md-min) {

		max-width: 300px;
	}
}


.sidebar-auth {
	background: #fff;
	padding: 30px 20px;
	@include box-shadow(0 1px 3px 2px rgba(0,0,0,.15));

	.auth-login {

	}

	.form-row {
		font-size: 13px;
		line-height: 20px;
		text-align: center;
		margin-bottom: 5px;
		@include clearfix();

		.form-column {

			&:first-child {
				float: left;
			}

			&:last-child {
				float: right;
			}
		}
	}

	.auth-social {

		.auth-social-title {
			overflow: hidden;
			position: relative;
			text-align: center;
			margin-bottom: 5px;

			span {
				font-size: 13px;
				line-height: 13px;
				position: relative;
				padding: 0 5px;
				display: inline-block;
				text-shadow: 1px 1px 0 #fff;

				&:after,
				&:before {
					position: absolute;
					top: 50%;
					margin-top: -1px;
					width: 100em;
					height: 0;
					border-width: 1px 0;
					border-style: solid;
					border-color: #bdc6d7 transparent #fff;
					content: '';
				}

				&:after {
					left: 100%;
				}

				&:before {
					right: 100%;
				}
			}
		}

		.auth-social-list {
			font-size: 0;
			line-height: 0;
			padding-bottom: 15px;
			margin-bottom: 20px;
			text-align: center;
			position: relative;
			border-bottom: 1px solid #bdc6d7;

			> a {
				color: #fff;
				width: 36px;
				height: 36px;
				margin: 0 5px;
				padding: 7px 0;
				font-size: 22px;
				line-height: 22px;
				text-align: center;
				display: inline-block;
				text-decoration: none;
				@include border-radius(3px);
				@include gradient-vertical(#8ca7cd, #4f71a6);

				&:hover {
					color: #fff;
					text-decoration: none;
					@include gradient-vertical(#a6c2ea, #4f73a7);
				}

				&:active {
					@include gradient-vertical(#8ca7cd, #4f71a6);
				}

				i {
					font-style: normal;
				}
			}
		}
	}

	.auth-new-user {

	}

	.btn {
		width: 100%;
	}
}


.side-box {
	margin-bottom: 30px;
	border: 1px solid #e8ecf0;
	background: #fff;
	border-radius: 3px;

	.side-box-inner {
		padding: 15px;
	}

	.super-text {
		margin-bottom: 10px;
		font-size: 13px;
	}

	.btn-text {
		margin-bottom: 8px;
		display: inline-block;
	}
}

.side-box-title {
	font-weight: 700;
	text-align: center;
	margin-bottom: 15px;
}

.bg-list {
	padding: 0;
	margin: 0 -5px;
	list-style: none;
	@include clearfix();

	li {
		float: left;
		width: 33.33%;
		padding: 0 5px;
		margin-bottom: 10px;

		a {
			width: 100%;
			height: 72px;
			display: block;
			overflow: hidden;
			border: 1px solid #e8ecf0;
			@include border-radius(3px);

			&.theme_01 {
				background: #fff;
			}

			&.theme_02 {
				background: url("../img/bg/bg_01.png");
			}

			&.theme_03 {
				background: url("../img/bg/bg_02.jpg");
			}

			&.theme_04 {
				background: url("../img/bg/bg_03.jpg");
			}

			&.theme_05 {
				background: url("../img/bg/bg_04.jpg");
			}

			&.theme_06 {
				background: url("../img/bg/bg_05.png");
			}

			&.theme_07 {
				background: url("../img/bg/bg_06.png");
			}

			&.theme_08 {
				background: url("../img/bg/bg_07.png");
			}

			&.theme_09 {
				background: url("../img/bg/bg_08.png");
			}
		}

		&.active {

			a {
				border-color: $color-blue;
			}
		}

	}

	@media (min-width: $screen-md-min) {

		li {

			a {
				height: 54px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		li {

			a {
				height: 72px;
			}
		}
	}
}

.side-super {
	text-align: center;

	.super-row {
		margin: 0;
		padding: 15px;
		list-style: none;
		background: #F1F4F6;
		border-bottom: 1px solid #e8ecf0;
		@include clearfix();

		> li {

			&:first-child {
				float: left;

				.btn {
					width: 100%;
				}
			}

			&:last-child {
				float: right;
			}
		}
	}
}

.side-stats {
	background: #fefeef;

	a {
		display: block;
		font-size: 13px;
		line-height: 20px;
		padding: 10px 15px;
		color: $color-blue;
		text-decoration: none;
		border-bottom: 1px solid #e8ecf0;
		@include clearfix();

		&:last-child {
			border-bottom: none;
		}

		&:hover {
			color: $color-orange;
		}

		span {
			float: left;
			display: inline-block;
		}

		b {
			float: right;
			color: #000;
			font-weight: 400;
			display: inline-block;
		}
	}
}

.side-box-heading {
	margin: 0;
	padding: 15px;
	font-weight: 700;
	text-align: center;
	list-style: none;
	background: #F1F4F6;
	border-bottom: 1px solid #e8ecf0;
}
