.event-line {
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #e8ecf0;
	@include clearfix();

	.event-nav {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 0 10px 0;
		@include clearfix();

		> li {
			float: left;
			font-size: 13px;
			line-height: 20px;

			&:after {
				content: '|';
				padding: 0 5px;

			}

			&:last-child {

				&:after {
					display: none;
				}
			}

			> a {
				color: #000;
				font-size: 13px;
				line-height: 20px;

				&:hover {
					color: $color-orange;
				}
			}
		}
	}


	.action-event-new {
		text-align: right;
	}


	@media (min-width: $screen-sm-min) {

		.event-nav {
			float: left;
			padding: 3px 0;
			margin-bottom: 0;
		}

		.event-action {
			float: right;
		}

		.action-event-new {
			float: right;
		}
	}
}

.event-heading {
	margin-bottom: 20px;
	@include clearfix();

	h2 {
		float: left;
		min-width: 230px;
		margin-bottom: 10px;
		margin-right: 20px;
	}

	a {
		float: left;
	}

	@media (min-width: $screen-sm-min) {

		h2 {
			margin-bottom: 0;
		}
	}
}

.event-box {
	margin-bottom: 30px;
	padding-top: 30px;
	border-top: 1px solid #e8ecf0;
}

.blogger-list {
	padding: 0;
	margin: 0 -8px;
	list-style: none;
	@include clearfix();


	> li {
		float: left;
		width: 80px;
		text-align: center;
		margin: 0 8px 15px 8px;
	}


	.blogger-avatar {
		display: block;
		overflow: hidden;
		margin: 0 auto 5px auto;
		@include border-radius(3px);

		img {
			@include transition(.3s);
		}

		&:hover {

			img {
				@include scale(1.2);
				@include transition(.3s);
			}
		}
	}


	.blogger-name {
		font-size: 12px;
		line-height: 14px;
		height: 30px;
		margin-bottom: 5px;
		overflow: hidden;
		text-align: center;

		a {
			color: $color-blue;
			text-decoration: none;

			&:hover {
				color: $color-orange;
			}
		}
	}

	.btn {
		margin-bottom: 5px;
	}

	.blogger-meta {
		color: #999;
		display: block;
		font-size: 10px;
		line-height: 14px;
	}
}

.event-list {
	padding: 0;
	margin: 0 -10px;
	list-style: none;
	@include clearfix();

	> li {
		float: left;
		width: 135px;
		margin: 0 10px 15px 10px;
	}

	.event-image {
		display: block;
		overflow: hidden;
		margin: 0 auto 5px auto;
		@include border-radius(3px);

		img {
			@include transition(.3s);
		}

		&:hover {

			img {
				@include scale(1.2);
				@include transition(.3s);
			}
		}
	}

	.event-name {
		height: 32px;
		font-size: 12px;
		line-height: 16px;
		overflow: hidden;
		margin-bottom: 5px;
	}

	.event-activity {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 0 5px 0;

		li {
			display: inline-block;
			color: #999;
			font-size: 10px;
			line-height: 14px;

			&:after {
				content: '|';
				padding: 0 3px;
			}

			&:last-child {

				&:after {
					display: none;
				}
			}
		}
	}

	.event-meta {
		height: 30px;
	}
}

.event-meta {
	padding: 0;
	font-size: 0;
	line-height: 0;
	height: 30px;
	overflow: hidden;
	list-style: none;
	margin: 0 0 5px 0;

	li {
		display: inline-block;
		color: #999;
		font-size: 10px;
		line-height: 14px;

		&:after {
			content: '|';
			padding: 0 3px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}
	}
}

.post-table {

	.post-table-avatar {
		width: 26px;
		height: 26px;
		display: block;
		overflow: hidden;
		@include border-radius(3px);
	}

	th {
		padding: 12px 8px;
	}

	td,
	th {

		&:first-child {
			width: 42px;
		}
	}

	a {
		color: $text-color;
	}
}

.blog-new {
	font-size: 13px;

	.blog-new-date {
		color: #666666;
		font-size: 13px;
		margin-left: 10px;
	}

	> li {
		margin-bottom: 15px;

		p {
			padding-top: 5px;
			margin-bottom: 0;
		}
	}
}

.event-discuss {
	width: 100%;
	display: table;
	margin-bottom: 20px;

	.event-discuss-image {
		width: 85px;
		display: table-cell;
		vertical-align: top;

		a {
			display: block;
			overflow: hidden;
			@include border-radius(3px);
		}
	}

	.event-discuss-content {
		font-size: 13px;
		padding-left: 15px;
		display: table-cell;
		vertical-align: top;

		.event-name {
			display: inline-block;
			margin-bottom: 5px;
		}
	}
}

.event-form {
	margin-bottom: 30px;

	.btn {
		margin-top: 10px;
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 0;
	}

}

.event-title {
	margin-bottom: 20px;

	h1 {
		margin-bottom: 3px;
	}

	.event-time {
		color: #666;
		font-size: 14px;
		line-height: 20px;
	}
}

.event {
	padding: 15px;
	border-radius: 3px;
	margin-bottom: 30px;
	background: #F1F4F6;
	border: 1px solid #e8ecf0;

	.event-photo {
		margin-bottom: 10px;

		a {
			display: block;
			overflow: hidden;
			@include border-radius(3px);
		}
	}

	.event-content {
		font-size: 13px;
	}

	@media (min-width: $screen-sm-min) {
		width: 100%;
		display: table;


		.event-photo {
			width: 180px;
			margin-bottom: 0;
			display: table-cell;
			vertical-align: top;
		}

		.event-content {

			padding-left: 15px;
			display: table-cell;
			vertical-align: top;
		}

		.event-info {

			li {
				padding: 2px 0;
			}
		}
	}
}

.guest {
	padding: 0;
	margin: 0 -5px;
	list-style: none;
	@include clearfix();

	li {
		float: left;
		width: 88px;
		padding: 0 5px;
		margin-bottom: 10px;

		a {
			color: #000;
			display: block;
			overflow: hidden;
			position: relative;
			text-decoration: none;
			@include border-radius(3px);

			span {
				left: 0;
				right: 0;
				bottom: 0;
				color: #000;
				padding: 2px;
				display: block;
				font-size: 10px;
				line-height: 12px;
				text-align: center;
				position: absolute;
				background: #F1F4F6;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		li {
			width: 80px;
		}
	}

	@media (min-width: $screen-md-min) {

		li {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-lg-min) {

		li {
			width: 25%;
		}
	}
}

.place {
	width: 100%;
	display: table;
	margin-bottom: 30px;

	.place-image {
		width: 85px;
		display: table-cell;
		vertical-align: top;

		a {
			display: block;
			overflow: hidden;
			@include border-radius(3px);
		}
	}

	.place-content {
		font-size: 13px;
		padding-left: 15px;
		display: table-cell;
		vertical-align: top;

		.place-name {
			display: inline-block;
			margin-bottom: 3px;
		}

		.place-info {
			margin-bottom: 3px;

			a {
				color: $text-color;
			}
		}

		.place-tags {
			padding-top: 5px;
		}
	}

	&.place-sm {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		.place-image {
			width: 75px;
		}
	}

	@media (min-width: $screen-sm-min) {

		&.place-md {

			.place-image {
				width: 115px;
			}
		}
	}
}

.rate {
	font-size: 16px;
	color: $color-orange;
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}