.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 8px 15px;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	@include border-radius(4px);
	@include transition(.3s);
	@include gradient-vertical(#8ca7cd, #4f71a6);

	&:hover {
		color: #fff;
		text-decoration: none;
		@include gradient-vertical(#a6c2ea, #4f73a7);
	}

	&:active {
		@include gradient-vertical(#8ca7cd, #4f71a6);
	}

	i {

	}
}


.btn-gray {
	@include gradient-vertical(#bdbdbd, #a2a2a2);

	&:hover {
		color: #fff;
		text-decoration: none;
		@include gradient-vertical(#a2a2a2, #bdbdbd);
	}

	&:active {
		@include gradient-vertical(#bdbdbd, #a2a2a2);
	}
}


.btn-brown {
	@include gradient-vertical(#d5ad77, #b5884a);

	&:hover {
		color: #fff;
		text-decoration: none;
		@include gradient-vertical(#b5884a, #d5ad77);
	}

	&:active {
		@include gradient-vertical(#d5ad77, #b5884a);
	}
}

.btn-md {
	padding-left: 30px;
	padding-right: 30px;
}

.btn-symbol {
	font-size: 20px;
}

.btn-small {
	font-size: 13px;
	padding: 3px 10px;
}

.btn-border {
	margin:0;
	color: $link-color;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 7px 14px;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	border: 1px solid #4f71a6;
	@include border-radius(4px);
	@include transition(.3s);

	&:hover {
		color: $link-color;
		text-decoration: none;
		background: #e5effa;
	}

	&:active {
		background: #cfe3f8;
	}

	i {
		margin-left: 5px;
	}

	&.btn-small {
		padding: 2px 9px;
	}

	&.current {
		background: #e5effa;
	}
}

.btn-question {
	width: 26px;
	height: 26px;
	padding: 3px 0;
	color: #9d9d9d;
	font-size: 18px;
	line-height: 18px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	border: 1px solid #9d9d9d;
	@include border-radius(50%);

	&:hover {
		color: $link-color;
		border-color: $link-color;
	}
}

.btn-group {
	margin: 0 -5px;
	@include clearfix();

	.btn,
	.btn-brown {
		margin: 0 5px 10px 5px;
	}
}