.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #666;
	font-size: 13px;
	line-height: 20px;
	padding: 7px 12px;
	display: inline-block;
	background: transparent;
	border: 1px solid #c2c2c2;
	@include border-radius(3px);
	@include placeholder(#666);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}

	&.form-control-icon {
		padding-left: 45px;
	}
}

.form-control-small {
	padding: 2px 10px;
}


.form-icon {
	top: 0;
	left: 0;
	bottom: 0;
	width: 35px;
	color: #c2c2c2;
	padding: 9px 0;
	text-align: center;
	position: absolute;
	display: inline-block;
	border-right: 1px solid #c2c2c2;

	i {
		font-size: 16px;
		line-height: 16px;
	}
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}



label {
	font-weight: 400;
	display: inline-block;
}

.label-control {
	font-weight: 700;
	margin-bottom: 5px;
}

.form-group {
	position: relative;
	margin-bottom: 15px;
}

.input-checkbox {
	display: inline-block;

	input {
		display: none !important;
	}

	span {
		cursor: pointer;
		font-size: 13px;
		line-height: 20px;
		position: relative;
		padding-left: 25px;
		display: inline-block;

		&:before {
			left: 0;
			top: 2px;
			content: '';
			width: 16px;
			height: 16px;
			position: absolute;
			border: 1px solid #c2c2c2;
			@include border-radius(3px);
		}

		&:after {
			left: 1px;
			top: 3px;
			width: 15px;
			height: 16px;
			color: #444;
			padding: 2px 0;
			font-size: 12px;
			font-weight: 400;
			content: '\f00c';
			line-height: 12px;
			position: absolute;
			text-align: center;
			visibility: hidden;
			font-family: FontAwesome;
			@include opacity(0);
		}
	}

	input:checked + span::after {
		visibility: visible;
		@include opacity(1);
	}
}


.selectric-wrapper {
	width: 100%;
	display: block;

	&.selectric-open {

		.selectric {
	//		border-bottom: none;
			@include border-radius(3px 3px 0 0);
		}
	}

	.selectric {
		width: 100%;
		display: block;
		color: #666;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		position: relative;
		overflow: hidden;
		text-align: left;
		padding: 7px 36px 7px 12px;
		border: 1px solid #c2c2c2;
		@include border-radius(3px);

		.label {
			display: block;
			width: 100%;
			white-space: nowrap;
			max-width: 100%;
			overflow: hidden;
			margin: 0;
		}

		.button {
			top: 0;
			right: 0;
			width: 35px;
			height: 34px;
			padding: 7px 0;
			font-size: 20px;
			line-height: 20px;
			position: absolute;
			text-align: center;
			border-left: 1px solid #c2c2c2;
			@include gradient-vertical(#f9f9f9, #f1f1f1);
		}

		&:hover {

			.button {
				@include gradient-vertical(#f1f1f1, #f9f9f9);
			}
		}
	}

	.selectric-items {
		background: #fff;
		border: 1px solid #c2c2c2;
		border-top: none;

		.selectric-scroll {

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					color: #666;
					cursor: pointer;
					padding: 7px 12px;

					&:hover {
						color: #fff;
						background: $color-brown;
					}
				}
			}
		}
	}
}

.checkbox-inline {
	float: left;
	overflow: hidden;
	text-align: center;

	input {
		display: none;
	}

	span {
		color: #000;
		width: 70px;
		display: block;
		font-size: 14px;
		line-height: 20px;
		padding: 8px 5px;
		cursor: pointer;
		text-align: center;
		background: #eceae4;
	}


	input:checked + span {
		background: #c4bca3;
	}


	&:first-child {
		@include border-radius(3px 0 0 3px);
	}

	&:last-child {
		@include border-radius(0 3px 3px 0);
	}
}


.form-warning {
	margin-bottom: 15px;

	strong {
		display: block;
	}
}

